<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clounema">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Clounema"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clounema">
        <activity android:name=".PilihJadwal" />
        <activity android:name=".MovieDetails" />
        <activity android:name=".Onboarding.OnBoardingThree" />
        <activity android:name=".Onboarding.OnBoardingTwo" />
        <activity android:name=".Onboarding.OnBoardingOne" />
        <activity android:name=".EditProfile" />
        <activity android:name=".OrderDetails" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>